# NOTE!
# AS ALL SCRIPTS FOR PROTOCOL WRITTEN FOR FOUNDRY MAKE SURE TO ADD `0X` IN FRONT OF ALL PRIVATE KEYS

ETHERSCAN_KEY=
SEPOLIA_RPC_URL=

###############################################################################
#                                                                             #
#                Environment Variables for Protocol Deployment                #
#                                                                             #
###############################################################################

# Key for Sandbox Controller Deployment
# It is also used for whitelisting collateral and base assets
SANDBOX_CONTROLLER_DEPLOYER_PRIVATE_KEY=

# Key for Config Controller Factory Deployment
# It is also used for Comet Implementation and Sandbox Comet Factory deployment
CONFIG_CONTROLLER_FACTORY_DEPLOYER_PRIVATE_KEY=

# Key for Config Controller Implementation Deployment
CONFIG_CONTROLLER_IMPLEMENTATION_DEPLOYER_PRIVATE_KEY=

# Key for Deployment Config Controller and Creating Market on it
MARKET_OWNER_PRIVATE_KEY=


# Fauceteer Deployment 
FAUCETEER_DEPLOYER_PRIVATE_KEY=