# NOTE!
# AS ALL SCRIPTS FOR PROTOCOL WRITTEN FOR FOUNDRY MAKE SURE TO ADD `0X` IN FRONT OF ALL PRIVATE KEYS

# Key for verification nearly deployed contracts
ETHERSCAN_KEY=

# Some of scripts such as deploy mock tokens or distribute tokens
# only use sepolia rpc, thus here you can set the rpc url for sepolia
# other scripts, such as deploy protocol contracts, whitelisting or market
# creation in scripts determines which network is used and based on that update
# values of get specific config, thus you can set rpc globally
RPC_URL=
SEPOLIA_RPC_URL=

###############################################################################
#                                                                             #
#                Environment Variables for Protocol Deployment                #
#                                                                             #
###############################################################################

# Key for Sandbox Controller Deployment
# It is also used for whitelisting collateral and base assets
SANDBOX_CONTROLLER_DEPLOYER_PRIVATE_KEY=

# Key for Config Controller Factory Deployment
# It is also used for Comet Implementation and Sandbox Comet Factory deployment
CONFIG_CONTROLLER_FACTORY_DEPLOYER_PRIVATE_KEY=

# Key for Config Controller Implementation Deployment
CONFIG_CONTROLLER_IMPLEMENTATION_DEPLOYER_PRIVATE_KEY=

# Key for Deployment Config Controller and Creating Market on it
MARKET_OWNER_PRIVATE_KEY=


# Fauceteer Deployment 
FAUCETEER_DEPLOYER_PRIVATE_KEY=